.navbar {
  padding: 10px 30px;
  border-left: 30%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgb(14, 14, 77);
  color: rgb(175, 170, 190);
}

.container {
    margin: 5px;
    max-width: 98%;
}
.row {
  width: 100%;
}

.header {
    border-left: 30%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(14, 14, 77);
    color: rgb(175, 170, 190);
}

.header h1 {
    font-size: 50px;
    text-shadow: 2px 2px rgb(81, 79, 95);
}

form.search-bar input[type=text] {

  font-size: 17px;
  border: 1px solid grey;
  width: 50%;
  height: 40px;
  background: #f1f1f1; 
}

.no-gutter {
    padding-left: 0;
}

form.search-bar button {
    position: relative;
    width: 15%;
    padding: 10px;
    background: #000000;
    color: white;
    font-size: 17px;
    border: 2px solid rgb(175, 170, 190);
    cursor: pointer;
  }
  
  #search {
    position: absolute;
    right: 0;
  }

  form.search-bar button:hover {
    background: #000000;
  }
  
  form.search-bar::after {
    content: "";
    clear: both;
    display: table;
  }

  a {
    position: relative;
    text-decoration: none; color: rgb(175, 170, 190);
    text-decoration: underline;
  }

body {
    background-image: url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/best-movies-1614634680.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    }